<div class="header"></div>
  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
  <div id="sidebarMenu">
    <ul class="sidebarMenuInner">
      <li class="nav-item active"><%= link_to "Home", root_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", new_signup_path %></li>
    </ul>
  </div>


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(/assets/merci.jpg); height: 700px;">
    <div class="container">
        <h1 id="merci">We'll be in touch.</h1>
    </div>
</div>

<div class="footer-two">
    <div class="footer-copyright">A SHUTTERBUGG PROJECT</div>
</div>