<div class="header"></div>
  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
  <div id="sidebarMenu">
    <ul class="sidebarMenuInner">
      <li class="nav-item active"><%= link_to "Home", root_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", new_signup_path %></li>
    </ul>
  </div>


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(/assets/share.jpg); height: 700px;">
    <div class="container">
        <h1>Relive your favorite memories</h1>
    </div>
</div>

<div class="container text">
    <h1 class="h1two">No more sorting through photos</h1>
    <p id="p-two" style="text-align: center">Stories automatically finds your best photos and creates a new travelogue. This way you can capture and share your special moments in fresh new ways.</p>
    <div class="row justify-content-center">
        <%= link_to "Contact", new_signup_path, class: "btn btn-primary" %>
    </div>
</div>

<div class="footer">
    <div class="footer-copyright">A SHUTTERBUGG PROJECT</div>
</div>

