<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(/assets/EFFECTS.jpg); height: 700px;">
    <div class="container">
        <h1>Create and share Stories</h1>
        <div class="row justify-content-center">
            <a class="btn btn-primary" href="#">Lean more</a>
        </div>
    </div>
</div>
