<div class="header"></div>
  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
  <div id="sidebarMenu">
    <ul class="sidebarMenuInner">
      <li><a href="#" target="_blank">Home</a></li>
      <li><a href="#" target="_blank">About</a></li>
      <li><a href="#" target="_blank">Contact</a></li>
    </ul>
  </div>


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(/assets/storie.jpg); height: 700px;">
    <div class="container">
        <h1>Create and share Stories</h1>
        <div class="row justify-content-center">
            <a class="btn btn-primary" href="#">Lean more</a>
        </div>
    </div>
</div>

<div class="container text">
    <h1 class="h1two">Relive and share your adventures</h1>
    <p>Stories automatically creates a digital journal filled with only your best photos.</p>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(/assets/nature.jpg); height: 500px;">
</div>

<div class="container text">
    <h1 class="h1two">Discover Stories</h1>
        <div class="row justify-content-center">
        <a class="btn btn-primary" href="#">Lean more</a>
    </div>
</div>

<div class="footer">
    <div class="footer-copyright">A SHUTTERBUGG PROJECT</div>
</div>